extends layoutdark

block content
    article
        a(href='/about')
            div.titleBar
                h2 #{titleHead}
        hr
        div.articleBody
            p #{titleBody}
            img(src='#{sideImage}')
    article
        div.titleBar
            h2 #{titleHead}
        hr
        div.articleBody
            p #{titleBody}
            img(src='#{sideImage}')
    article
        div.titleBar
            h2 #{titleHead}
        hr
        div.articleBody
            p #{titleBody}
            img(src='#{sideImage}')
    article
        div.titleBar
            h2 #{titleHead}
        hr
        div.articleBody
            p #{titleBody}
            img(src='#{sideImage}')